.loginCard {
  margin: 50px auto !important;
  width: fit-content !important;

  .header {
    font-weight: 900 !important;
    font-size: 22px !important;
    margin: 12px 0 !important;
  }

  .selection {
    width: 100%;
    margin-bottom: 14px;
  }
}